* {
    margin: 0;
}

.container {
    padding: 15px;
    background-color: rgb(189, 231, 255);
    width: 230px;
    height: 100px;
    border: 1px solid #000;
}

.container2 {
    margin-top: 15px;
}

.btn  {
    background-color: rgb(189, 231, 255);
    border: 1px solid #000;
    margin-right: 30px;
    float: right;
}

.input {
    width: 40px;
    background-color: rgb(189, 231, 255);
    border: 1px solid #000;
}

select {
    background-color: rgb(189, 231, 255);
    width: 80px;
}



